absl-py
astor
certifi
Flask
Flask-Cors
gast
gevent
grpcio
gunicorn
h5py
Jinja2
Keras
Keras-Applications
Keras-Preprocessing
Markdown
MarkupSafe
numpy
Pillow
protobuf
six
requests
scikit-learn
tensorflow-cpu
termcolor
Werkzeug