{% extends "base.html" %}
{% block content %}

<div class="main-container">
  <div>
    <a href="/" class="button is-info">
      <p style="font-size: larger; margin-left: 5px;">GO HOME</p>
    </a>
    <br>
  </div>
  <h1 class="title">DRAW</h1>
  <div>
    <canvas id="canvas" width="140" height="140"></canvas>
  </div>

  <div>
    <form id="draw-form" action="draw" method="POST">
      <input id="pixels" name="pixels" type="hidden" />
      <br>
      <button type="button" class="button is-success" onclick="GuessAction()"><p style="font-size: larger;">Guess</p></button>
      <button type="button" class="button is-info" onclick="resetCanvas()"><p style="font-size: larger;">Clear</p></button>
    </form>
  </div>
  <br>
  <br>
  <div>
    <h1 class="button is-danger" style="font-size: larger; font-family: Arial, Helvetica, sans-serif; margin-left: 5px;">AI - Predictions :</h1>
    <br>
    <br>
    {% for class_name in pred %}
  <li class="list-group-item" style="font-size: large; margin-left: 25px;">
    {{ class_name.upper() }}
  </li>
  {% endfor %}
  </div>

</div>

<script>
  $(document).ready(function () {
    startCanvas()
  })
</script>

{% endblock %}